/* CSS Document */


@keyframes c-logo-start {
  from {
    top: -50%;
  }
  to {
    top: 20%;
  }
}

@keyframes c-flying-anime {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

.c-logo {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 20%;
  margin-left: -35%;
  height: auto;
  animation: c-logo-start 1.5s $ease-out-bounce-back;
  z-index: 10;
}

.c-stage {
  position: relative;
  width: 90%;
  height: 70vh;
  border: dotted 5px #FFD000;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.c-fly-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  
  li {
    position: relative;
    list-style: none;
    margin: 0 40px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 100%;
      height: auto;
    }
  }
}

.c-fly {
  
}
.c-kill {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.c-flying {
  
  width: 80px;
  height: auto;
  top: 15vh;
  left: 5vh;
  
  position: absolute;
  offset-rotate: auto 90deg;
  display: none;
  
  &:nth-child(1){
    offset-path: path("M146.53 233.486C91.2791 228.704 19.0407 134.351 98.8096 105.724C171.902 79.4939 52.9675 288.708 74.4841 346.283C95.8252 403.388 183.918 366.438 214.543 341.231C303.061 268.373 223.731 -64.0676 76.7803 12.325C5.70174 49.2754 -10.0012 294.441 7.63502 357.652C29.8487 437.269 156.621 449.072 215.664 414.662C288.684 372.105 328.233 -2.49131 237.921 18.4546C154.527 37.7959 249.754 242.421 146.53 233.486Z");
    offset-distance: Random(50%, 100%);
  }
  
  &:nth-child(2){
    offset-path: path("M275.799 395.126C275.799 435.227 94.6294 434.432 70.6671 379.776C9.18574 239.543 335.557 316.585 309.062 200.877C257.629 -23.7419 -49.9483 326.673 50.0517 47.1729C202.746 -172.386 481.58 462.132 146.051 466.673C-196.928 416.511 160.97 -73.2967 275.118 391.722");
  }
  
  &:nth-child(3){
    offset-path: path("M133.1 68.3572C104.787 68.3572 76.4675 68.066 48.1551 67.8296C30.6688 67.6836 30.001 67.5882 29.2277 67.2528C-2.24803 53.6036 61.3808 6.13797 75.1571 2.68932C101.633 -3.93856 130.866 10.158 152.604 23.772C164.619 31.2962 170.099 36.5474 171.062 38.6116C194.777 89.4598 -32.5439 149.457 58.3199 171.834C69.1161 174.492 84.3299 173.12 94.1034 178.737C113.069 189.638 29.3779 231.92 24.8348 233.995C21.0673 235.715 1.00919 245.234 8.53813 253.37C20.5012 266.298 57.8475 255.076 71.886 253.824C89.6016 252.244 108.127 252.71 124.812 259.241C160.407 273.172 -4.07489 335.3 1.12125 363.223C5.61046 387.347 80.1619 371.286 90.666 359.905C100.264 349.506 98.9805 338.198 99.9909 337.558C102.978 335.665 129.601 352.926 124.812 383.339C120.023 413.752 74.0298 415.063 44.8593 426.854C32.9262 431.677 25.0805 432.72 24.4011 433.246C9.74522 444.597 65.1754 431.293 79.0412 443.596C92.8572 455.855 101.565 465.448 108.782 482.183C112.693 491.252 143.636 478.75 150.195 473.382C175.187 452.932 139.51 422.026 154.956 403.357C161.586 395.343 185.398 398.839 190.858 407.172C197.799 417.765 186.17 459.634 198.145 463.474C282.334 490.478 280.123 367.514 160.269 353.472C122.7 349.071 196.613 329.083 209.365 317.839C233.746 296.342 279.781 271.869 279.796 236.058C279.797 233.757 279.025 233.861 270.31 237.2C251.017 244.592 173.373 247.545 152.604 237.2C63.6378 176.802 442.6 17.8392 133.1 68.3572Z");
  }

  animation: c-flying-anime 10s ease infinite;
  animation-play-state: paused;
  
  img {
    width: 100%;
    height: auto;
  }
  &__status {
    display: none;
  }
}

.c-stage__clear {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 200;
  top: -40%;
  
  img {
    width: 100%;
    height: auto;
  }
}